html, body {
    height: 100%
}

#root {
    height: 100%
}

.center {
    margin: auto;
    width: 50%;
    height: 100%;
    background-color: #e5e6e6;
}

.button{
    margin-right: 1rem;
    margin-bottom: 5px;
}
    
.currentBattingTeam{
    font-size: 2rem;
}

.scoreBoard{
    font-size: 1rem;
}
    
.center {
    margin: auto;
    width: 50%;
    height: 100%;
    background-color: #e5e6e6;
}

.button:hover{
    background: transparent;
    color: #17a2b8;
}

.badge{
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge-dark {
    border-radius: 0;
    border: 2px solid #17a2b8;
    color: #fff;
    background-color: #17a2b8;
}

.badge-light {
    color: #212529;
    border-radius: 0;
    border: 2px solid #17a2b8;
    background-color: #e5e6e6;
}

.badge-wrapper{
    font-size: 2rem;
    display: inline;
    padding: 0;
}

.badge-light {
    border-radius: 0;
    border: 2px solid #17a2b8;
    background-color: #e5e6e6;
}

.badge-dark {
    border-radius: 0;
    border: 2px solid #17a2b8;
    color: #fff;
    background-color: #17a2b8;
}
